<!DOCTYPE html>
<html>
<head lang="zh-cmn-Hans">
    <meta charset="UTF-8">
    <title>ejs模版测试</title>
</head>
<body>
<h1 id="title"></h1>
</body>
	<% include common/header %>
	<h1>测试测试111</h1>
	<% include common/footer %>
	<link rel="stylesheet" href="../js/index.min.js">
</html>