<% isDevModal = false %>
<meta charset="UTF-8">
<title><%= title %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<% if ( (locals.styles !== undefined) && (locals.styles.length >0) ) { %>
<!-- rev-hash -->
<% for(var i=0; i<styles.length; i++) {%>
<link rel="stylesheet" href="<%= styles[i]%>" >
<% } %>
<!-- end -->
<% } %>
<script>
	function autoSize() {
		var doc = document.documentElement;
		//设计稿使用750px宽度
		var docWidth = (doc.getBoundingClientRect().width > 750)?750:doc.getBoundingClientRect().width;
		var rem = Math.round(docWidth / 7.5);
		// 四舍五入 对齐 font-size 和 with 等
		doc.style.fontSize = rem +'px';
	};
	autoSize();
	var timer=0;
	window.addEventListener('resize',function(){
		clearTimeout(timer);
		timer = setTimeout(autoSize,300);
	});
	var Cookie = {
	    set: function(name,value,expHour,domain,path){
	        document.cookie = name+"="+encodeURIComponent(value==undefined?"":value)+(expHour?"; expires="+new Date(new Date().getTime()+(expHour-0)*3600000).toUTCString():"")+"; domain="+(domain?domain:document.domain)+"; path="+(path?path:"/");
	    },
	    get: function(name){
	        return document.cookie.match(new RegExp("(^| )"+name+"=([^;]*)(;|$)"))==null ? null : decodeURIComponent(RegExp.$2);
	    },
	    remove: function(name){
	        if(this.get(name) != null) this.set(name,null,-1);
	    }
	};	
</script>
<% if ( !isDevModal && (locals.cookie !== undefined) && (locals.cookie.required.length >0) ) { %>
<script>
	~function(){
		var cookieArr = '<%= cookie.required%>'.split(','),
			redirectTo = '<%= cookie.redirectTo%>' ;
		for (var i = cookieArr.length - 1; i >= 0; i--) {
			if ( !Cookie.get(cookieArr[i])) {
			    window.location.href = redirectTo;
			    // console.log('跳转了',redirectTo);
			}
		};
	}()
</script>
<% } %>
